<div class="header">
    <header id="header">APPLICATION</header>
</div>
<div class="body">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <footer id="footer">copyright protected</footer>
</div>

<!-- <table>
    <tr>
        <td>
            <div class="header">
                <header id="header">APPLICATION</header>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="body">
                <router-outlet></router-outlet>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="footer">
                <footer id="footer">copyright protected</footer>
            </div>
        </td>
    </tr>
</table> -->