<!-- <mat-card class="box">
  <mat-card-header>
    <mat-card-title>Registration</mat-card-title>
  </mat-card-header>

  <form class="example-form" [formGroup]="registerForm" (ngSubmit)="signUp()">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <br /><br />
      <mat-form-field >
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <br /><br />
      <mat-form-field >
        <input matInput placeholder="Username" formControlName="userName" />
      </mat-form-field>
      <br /><br />
      <mat-form-field >
        <input matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
      <br /><br />
      <mat-form-field >
        <input matInput placeholder="re-Password" formControlName="rePassword" />
      </mat-form-field>
      <br /><br />
      <mat-form-field >
        <input matInput placeholder="Email" formControlName="email"  type="email"/>
      </mat-form-field>
      <br /><br />
      <mat-form-field >
        <input matInput placeholder="Category" formControlName="category"/>
      </mat-form-field>
      <br /><br />
    </mat-card-content>
    <button mat-stroked-button color="accent" class="btn-block" type="submit">
      Log in
    </button>
  </form>
</mat-card> -->
